body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

/****** Header *******/
.header {
  background-color:#EDCCCE;
}

.header-nav {
  margin: 0 2rem;
  padding: 3rem 0;

  display: flex;
  width: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-commpany-logo {
  height: 5rem;
}

.header-nav ul {
  display: flex;
  gap: 3rem;

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.header-nav ul li a {
  color:#2D4558;
  font-weight: 400;
  text-decoration: none;
  
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

/****** Screen reader text *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
