body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

/****** Header *******/
.header {
  background-color:#EDCCCE;
  color:#2D4558;
  height:110px;
}

.header-commpany-logo {
  height: 5rem;
}

.header-nav ul {
  height: 110px;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style-type: none;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0px;
}

.heaer-nav ul li{
  align-self: center;
}

.header-nav ul li a {
  color:#2D4558;
  font-weight: 400;
  text-decoration: none;
  
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

/*Nav-Logo*/
.header-company-logo{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 20px;
  }

  /*Hero section*/
 .hero-container{
  width: 100%;
  height: 600px;
  background-image: url('./images/hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
 }

 .hero-text{
  display: flex;
  width: 50%;
  height: 650px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
 }

 .image-text{
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 7em;
  letter-spacing: 0.3rem;

 }



/****** Screen reader text *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
