body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

/****** Header *******/
.header {
  display: flex;
  flex-direction: row;
  background-color:#EDCCCE;
  height:109px;
}

/*Nav-Logo*/
.header-company-logo{
  display: flex;
  justify-content: flex-start;
  width: 110px;
  height: 110px;
  margin-right: auto;
  margin-left: 100px;
  margin-bottom: 5px;
  }

.header-nav ul {
  height: 110px;
  display: flex;
  justify-content: right;
  gap: 3rem;
  list-style-type: none;
  margin-top: 10px;
  margin-right: 500px;
  padding: 0px;
  
}

.header-nav ul li{
  align-self: center;
  margin-right: 10px;
  text-align: center;
}

.header-nav ul li a {
  color:#2D4558;
  font-weight: 400;
  text-decoration: none;
  
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

  /*Hero section*/
 .hero-container{
  width: 100%;
  height: 600px;
  background-image: url('./images/hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
 }

 .hero-text{
  display: flex;
  width: 50%;
  height: 650px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
 }

 .image-text{
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  font-size:70px;
  letter-spacing: 0.3rem;
 }




/****** Screen reader text *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.line-container{

  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:20px;
  margin-top: 20px;

}

.line-copy-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10px;
  margin-top:10px;
}

.Intro-text {
  display: flex;
  margin-left: 800px;
  margin-top: 6rem;
  flex-direction: column;
  width: 40%;
  height: 17.4rem;
}


.Intro-text  h2{
 display: flex;
  width: 100%;
  height: 3rem;
  margin-bottom: 5px;
  justify-content: left;

}

.Intro-text p{
  display: flex;
  width: 100%;
  height: auto;
  margin-top: auto;


}

.intro-photo{
  display: flex;
  width: 30%;
  margin-top:-20rem;
  margin-right: auto;
  margin-left: 50px;
  height: 40rem;
  border-radius: 50%;

}
.thin-line-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:2px;
  margin-top: 95px;
}

.R-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#2D4558;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thin-line2-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:2px;
  margin-bottom: 20px;
}

.R-subheading{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#2D4558;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thin-line3-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:2px;
  margin-bottom: 20px;
}

.food-photos{
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 60px;
  
}

.food-photos img{
  width: 100%;
}

.food-photos p{
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.thin-line4-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:2px;
  margin-bottom: 20px;
}

.B-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#2D4558;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thin-line5-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:2px;
  margin-bottom: 20px;
}

.blog-container{
  flex-direction: column;
  justify-content: space-between;
}

.Blog-text {
  display: flex;
  margin-left: 50px;
  margin-top: 6rem;
  flex-direction: column;
  width: 40%;
  height: 17.4rem;
}

.Blog-text h3{
  display: flex;
  width: 100%;
  height: 3rem;
  margin-bottom: 20px;
  margin-top: 100px;
  justify-content: left;
  text-align: center;
}

.blog-post {
  display: flex;
  width:50%;
  margin-top:-20rem;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 50px;
  height: 40rem;
  
}

.blog-button{

  display: flex;
  height: 30%;
  width: 100%;
  /*background-color: green;*/
  padding-left: 250px;
  justify-content: left;
  text-align: center;
  align-items: center;

}

.Exception-hover-button {
  margin-top: 15px;
  height: 70px;
  width: 260px;
  border: 0;
  background-color: white;
  color: black;
  border-radius: 40px;
  font-family:'Segoe UI';
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.thin-line6-container{
  background-image: url('./images/line.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:2px;
  margin-bottom: 20px;
}

.connnect-containr{
  flex-direction: column;
  justify-content: space-between;
}

.contact-text {
  display: flex;
  margin-left: 800px;
  margin-top: 6rem;
  flex-direction: column;
  width: 40%;
  height: 17.4rem;
}

.contact-text h3{
  display: flex;
  width: 100%;
  height: 3rem;
  margin-bottom: 10px;
  margin-top: 150px;
  justify-content: right;
  text-align: center;
}

.contact-post {
  display: flex;
  width:50%;
  margin-top:-20rem;
  margin-right: auto;
  margin-left: 50px;
  margin-bottom:25px;
  height: 40rem;
  
}

.contact-button{

  display: flex;
  height: 30%;
  width: 100%;
  /*background-color: green;*/
  padding-left: 1110px;
  justify-content: left;
  text-align: center;
  align-items: center;

}

.footer {
  display: flex;
  flex-direction: row;
  background-color:#EDCCCE;
  height:350px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

.site map{
  display: flex;
  flex-direction: column;
}

.socials{
  display: flex;
  flex-direction: column;
}

.footer-banner-nav {
  list-style-type: none;
  font-family:'Segoe UI';
  font-size: 1.5rem;

}

.nav-iten{
  list-style-type: none;
  font-family:'Segoe UI';
  font-weight: lighter;
  font-size: 1rem;
}

